.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.table {
    width: 25rem;
    height: 25rem;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.tableDark {
    composes: table;
    background-color: var(--dark-primary);
}

.tableLight {
    composes: table;
    background-color: var(--light-primary);
}

.cell {
    padding: 0;
    border-width: 0;
    margin: 0;
    display: table-cell;
}
